# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Conda / env
.env
.venv/

# Generated data
results/**
!results/.gitkeep
!results/sim1/.gitkeep
!results/sim2/.gitkeep
!results/sim3/.gitkeep

data/generated/**
!data/generated/.gitkeep

# BLAST database artifacts
*.nhr
*.nin
*.nsq
*.ndb
*.not
*.ntf
*.nto
*.nhd
*.nhi

# OS
.DS_Store
